.btn-outline {
  min-width: 170px;
  border-radius: 5px;
  padding: 12px 20px;
  border: 1px solid var(--blackpure);
  background-color: var(--white);
  color: var(--blackpure);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.btn-outline:hover {
  opacity: 0.8;
}

.btn-outline:active {
  position: relative;
  top: 1px;
}
