.nav {
  padding: 20px 0;
  background-color: var(--dark-bg);
  color: var(--white);
  border-bottom: 1px solid var(--dark-border);
}

.nav-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.logo {
  color: var(--header-text);
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  margin-right: auto;
}

.logo strong {
  font-weight: 700;
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
  font-size: 16px;
}

.nav-list__link {
  color: var(--white);
  transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
  opacity: 0.8;
}

.nav-list__link--active {
  position: relative;
}

.nav-list__link--active::before {
  content: "";

  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--accent);
  position: absolute;
  left: 0;
  top: 100%;
}
